body {
  background: linear-gradient(#9fc8e3, #617ea3);
}
.container.main {
  background-color: #cedfed;
  font-family: "Roboto", sans-serif;
  color: #424242;
  font-weight: 800;
  position: relative;
  border:none;
  max-width: 800px;
  margin: 10% auto;
  border-radius: 15px ;
  padding: 10px ;
}
.d-flex {
  position: absolute;
  top: 20px;
  margin-top: 5px;
  right: 25px;
  max-width: 150 px;
}
button.btn {
  font-weight: bold;
  margin-right: 5px;
}
.current-city {

  margin-top: 10px;
  font-weight: bold;
  margin-left: 25px;
}
@media screen and (max-width: 768px) {
  .current-city {
   margin-top: 60px;
  }
}
h1 {
  font-weight: bold;
}

h2 {
  font-size: 25px;
  font-style: italic;
  margin-left: 25px;
}

.weather-detail{
  margin-top: 25px;
  margin-left: 50px;
  display: flex;
  align-items:start;
 justify-content:flex-start;
  flex-direction: row;
}
@media screen and (max-width: 768px) {
  .weather-detail{
    margin-top: 35px;
    margin-left: 20px;
    display: flex;
    align-items:center;
   }
}
/*@media screen and (max-width: 573px) {
  .weather-detail{

   }
}*/
.col-4 {  /* sun icon */
  align-items: center;
  display: flex;
  justify-content:flex-end;
  flex-direction: row;
}
.units {
  position: relative;
  top: -20px;
  font-size: 14px;
}
a {
  text-decoration: none;  /*celsius-link*/
}

.col-8 .text-center{  /*now-temperature*/
  display: block;
  text-align: center;
  width: fit-content;
}

.col-8 {
  margin-top: 10px;
  font-weight: 500;
  line-height: 30px;
  font-size: 40px;
  width: fit-content;
}
@media (max-width: 768px) {
  .col-8{font-size: 35px;}
}
.fa-sun {
  align-items: center;
  font-size: 90px;
  color:  rgb(245, 248, 71);
}

@media screen and (max-width: 768px) {
  .fa-sun{font-size: 70px;}
}

/*@media screen and (max-width: 575px) {
  .fa-sun{margin-left: 80px;}
}*/
.container.text-center { /*today details like high and low teprature*/
  padding: 15px 10px;
}



.col strong{
  color: rgb(198, 20, 130);
}

.title {
  text-align: left;
  margin: 30px 0px 15px 30px;
  font-size: 20px;
}
.todayWeather {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(1, auto);
  margin: 15px 0px 20px 10px;
  max-width: 700px;
 
 }
 

 @media (max-width: 768px) {
  .todayWeather{
     grid-template-columns: repeat(4, 1fr);
     grid-template-rows: repeat(2, auto);
    gap: 10px;
    width: 50px;
    justify-content: center; /* Center grid items horizontally */
    align-content: center; /* Center grid items vertically */
    margin: auto; /* Center the grid itself within its container */
   margin-top: 15px;
   margin-bottom: 15px;
  }

 }
 @media (max-width: 768px) {
  .hourlyweather {
  border: none;
  box-shadow: #626060;
   
  }
 }
 
.card-title {
  font-size: 18px;
  font-weight: 650;
  text-align: center;
}

.card-text {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}

.fa-bolt {
  text-align: center;
  font-size: 35px;
  color: cadetblue;
}
@media screen and (max-width: 530px) {
  .fa-bolt {
    font-size: 20px;
}
}
.fa-cloud {
  text-align: center;
  font-size: 30px;
  color: rgb(129, 193, 234);
  padding-top: 10px;
}
.border-right {
  border-right: 2px solid rgb(9, 9, 9);
}

@media  screen and (max-width: 575px) {
  .border-right {
    border-right: 0px solid;
}
  }
.col-2 {
  margin-left: 0px;
  font-size: 30px;
  font-weight: 250px;
}
.table {
  font-size: 16px;
  font-weight: 500;
  max-width: 95%;
  margin: 15px 20px;
}

/* .row{
  width: fit-content;
} */
.daily-detail{
  text-align: center !important;
}
footer {
  
  color: rgba(55, 55, 56, 0.6);
  text-align: center;
  border-top: 2px solid #626060;
  padding-top: 30px;
  font-weight: 300;
  font-size: 14px;
}
